@media only screen and (min-width: 64em) {
  /* Only CSS rules that need to be changed to meet the layout needs from medium to large/wide go in here */
  
  article p.town-article img {
      width: auto;
      height: 100%;
    }
    
        nav button {
          display:inherit; 
    }  
    nav ul li {
        display:inline-block;
    }
    
    main h2 {
        font-size: 2rem;
    }
    
    main figure img {
        float: right;
        width:55%;
        margin:200px;
        text-align: center;
    }
  
  section.forecast {
      display: block;
    }  /* show the 10-day forecast with the medium view and up */
  
  article p.town-article img { 
      width: 55%;
      height:auto;
      float:right; 
    }  
      .container {
    grid-template-columns: 1fr 1fr 1fr;
   }
}
