@media only screen and (min-width: 375em) {
    header, nav, main, footer {
        max-width: 960px;
        margin: 0 auto;
    }
        
    
  nav button { 
      display:flex;
}  
    nav ul li {
        display:inline-block;
}
    
    main h2 {
        font-size:1.8rem;
}
    
    main figure img {
        float: left;
        width:100%;
        margin:10px;
        text-align: center;
    }
  
  section.forecast { 
      display: block;
}  
  
  article p.town-article img { 
      width: 62.666%;
      height:auto;
      float:right; 
    } 
}
    /*.img {
        background-image: url("images/franklin-medium.jpeg");
        width: 15em;
        height: 100%;
    }
}
*/
/*@media only screen and (min-width: 37.5em) {
    header, nav, main, footer {
        max-width: 960px;
        margin: 0 auto;
    }
    
  nav button { 
      display:flex;
    }  
    nav ul li { 
        display: inline-block;
    }

    main h2 {
        font-size: 1.8rem;
    }
    
    main figure img {
        float: left;
        width: 100%;
        margin: 10px;
        text-align: center;
    }
    
      section.forecast {
          display: block; 
    }  
  
  article p.town-article img { 
      width: 62.666%;
      height:auto;
      float:right;
    }  
   }

*/