* { box-sizing: border-box;}  
body {
  font-size: 16px;
    font-family: Trebuchet MS, sans-serif;
    margin: 0 auto;
    width: 100%;
}

header, nav, main, footer { 
    max-width: 1100px;
    margin: 0px auto;
    overflow: hidden;
    align-content: center;
}

header {
    font-family: verdana;
    color: #333;
    background-color: #ff944d;
    overflow: auto;
    margin: 0 auto;
    width: 100%;
}
header h1 {
    font-family: verdana;
    font-size: 3rem;
    text-align: center;
}
header img{
    border: none;
    float: left;
    margin-right: 15px;
    padding: 8px;
}

header .subheading {
    font-family: Trebuchet MS;
    font-size: 1.5 rem;
    padding-bottom: 3px;
    text-align: center;
    
}
nav {
    clear: both;
    width: 100%;
}

nav button {
    position: absolute;
    top:10px;
    right:10px;
    padding:10px;
}
nav ul {
    width:100%;
    margin:auto;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
nav ul li {
    display: inline-block;
    font-size: 30px;
    padding:5px 20px; 
    
}
nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding 14px 16px;
  text-decoration: none;
}
nav ul li.active a {
    background-color:darkgray;
}
nav ul li a:hover {
    background-color: darkgray;
  
}
main h2 {
    margin-left: 75px;
}
main figure { margin: 0 0 .2rem 2%; 
    width:96%;
}
main figure img { 
    width: 45%; 
    margin-left: 30vw;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: .25rem;
}

.grid-item {
    margin: 0;
    padding: 3px;
}

.grid-item img {
    width: 10%;
    height: auto;
}

section {
    display:inline-block;
    
}

article p.town-article img {  
    width: auto;
    height: 100%;
 
}
 
footer {
    background-color: #ff944d;
    padding-top: 3px;
    padding-bottom: 3px;
    font-size: 1.5rem;
    text-align: center;
}
footer>section {
    font-size: .5rem;
}
footer>p {
    color:#333;
}