
@media screen and (min-width:375px){
    ul.topnav.responisve li.right, 
    ul.topnav.responsive li {float: none;}
     

body {
  font-size: 14px;
  font-family: Trebuchet MS, sans-serif;
    margin: 0;
}

header, nav, main, footer { 
    max-width: 1100px;
    margin: 0px auto;
    align-content: center;
    overflow: hidden;
}

header {
    color: #333;
    background-color: #ff944d;
    overflow:auto;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    
}
header h1 {
    font-size: 3rem;
    text-align: center;

}
header img {
    border: none;
    float:left;
    margin-right: 15px 15px;
  
    
}
 header .subheading {
    font-family: Trebuchet MS; 
     font-size: 1.5rem;
     padding-bottom: 3px;
     text-align: center;
}

nav {
   width: 100%;
}
nav button {
   position: absolute;
   top: 10px;
   right: 10px;
   padding: 10px;
}
ul.topnav.responisve {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
ul.topnav.responisve li {
    float: left;
   
}
ul.topnav.responsive li a {
    display: inline-flex;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.topnav.responsive li a:hover{
    background-color: darkgrey;
}
ul.topnav.responsive li.right {
    float: right;
}

 * { box-sizing: border-box;}

main {
    margin:0 0;
    
}
main h2 {
    margin-left: 5%;
    font-size: 1.2rem;
    text-align: center;
}
main figure { margin: 0 0 .2rem 2%;
    width:96%; 
}
main figure img { 
    width: 100%; 
    height: auto;
}
main > section { 
    text-align: center;
}

.forecast {
    display: inline-block;
    border-bottom-style: solid;
    border-top-style: solid;
    width: 100%;
    clear: both;
    text-align: center;
    
     
}
.box {
    width: 100%;
    height: auto;
    text-align: center;
}


article p.town-article img {
  width: 100%; 
  height: auto;
  margin: 200px;
} 

footer {
    background-color: #ff944d;
    padding-top: 3px;
    padding-bottom: 3px;
    font-size: 1.5rem;
    text-align: center;
}
footer>section {
    font-size: .5rem;
    
}
footer>p {
   color:#333;
} 
