@media only screen and (min-width: 37.5em) {
  /* Only CSS rules that need to be changed to meet the layout needs from small to medium go in here */
    header h1 {
        
    }
    
    
  nav button { display:none; }  /* hamburger button does not need to be shown */
    nav ul li {display:inline-block;}
    
    main h2 {font-size:1.8rem;}
    
    main figure img {
        float:left;
        width:50%;
        margin:5px;
    }
  
  section.forecast { display: block;}  /* show the 10-day forecast with the medium view and up */
  
  article p.town-article img { width: 62.666%; height:auto; float:right; }  /* responsive images */

}