@media only screen and (min-width: 375em) {
  /* Only CSS rules that need to be changed to meet the layout needs from small to medium go in here */
    header h1 {
    font-size: ;
        
        
    }
    
    
  nav button { display:none; }  /* hamburger button does not need to be shown */
    nav ul li {display:inline-block;}
    
    main h2 {font-size:1.8rem;}
    
    main figure img {
        float: left;
        width:100%;
        margin:10px;
        text-align: center;
    }
  
  section.forecast { display: block;}  /* show the 10-day forecast with the medium view and up */
  
  article p.town-article img { 
      width: 62.666%;
      height:auto;
      float:right; 
    }  /* responsive images */
    .img {
        background-image: url("images/franklin-medium.jpeg");
        width: 15em;
        height: 100%;
    }
}