* { margin: 0; box-sizing: border-box; }     
 body { 
    font-size: 20px; 
    line-height: 32px;
    font-family:fantasy;
    color:black;
}

h1 {
    font-size: 2rem;
    color: lightcyan;
    text-align: center;
}

h2 {
    font-size:1.2rem;
    text-align: center;
    border-bottom: 1px solid #bbb;
}

header, main, footer {
    margin: 1.25rem auto;
    padding: 14px;
    max-width: 960px;
}

header, footer, footer a {
    text-align: center;
    font-size: .7rem;
    background-color: dimgrey;
    color: lightcyan;
}

header img {
    width: 300px;
    height: auto;
    float: right;
}

footer {
    font-size: .75rem;
}